// Responsive
@import url("respon.css");
@import url("bt.css");

:root {
    --main-color: #FA6400;
}

.h1ag {
    font-weight: 600;
    font-size: 2.45rem;
    letter-spacing: -2px;
}

.h2ag {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.45rem;
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    background-color: rgba(255,255,255, 0.8);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.navbar {
    &-logo {
        width: 9%;
        margin-right: 20rem;
        &:hover {
            filter: invert(43%) sepia(59%) saturate(3005%) hue-rotate(2deg) brightness(99%) contrast(101%);
        }
    }
    &-collapse {
        font-weight: 500;
        display: none;
    }
    &-toggler {
        display: none;
        width: 16%;
        background-color: transparent;
        img {
            background-color: transparent;
            &:hover {
                filter: invert(48%) sepia(86%) saturate(3679%) hue-rotate(2deg) brightness(100%) contrast(100%);
            }
        }
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 4;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    color: #fff;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
    .h3ag {
        color: #fff;
        font-size: 1.22rem;
        letter-spacing: 2px;
        font-weight: 700;
    }
    &-content {
        background: url("../img/modal.png") no-repeat;
        margin: 26px auto;
        border: 1px solid #888;
        width: 55%;
        height: 71%;
        //padding: 72px 412px 0 60px;
        text-align: center;
        background-size: 100%;
        text-align: justify;
        position: relative;
        div {
            width: 20vw;
            margin: 5rem 0 0 3.6rem;
        }
        form {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            input {
                text-align: center;
                border: none;
                margin-bottom: 15px;
                height: 6vh;
                &:nth-child(2) {
                    color: #fff;
                    background-color: #333;
                    font-weight: 600;
                    cursor: pointer;
                    transition: .3s;
                    &:hover {
                        background-color: var(--main-color);
                    }
                }
            }
        }
        .close {
            color: #000;
            font-size: 28px;
            position: absolute;
            right: -30px;
            top: -1px;
            background-color: #fff;
            width: 30px;
            height: 30px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover,
            &:focus {
                color: #fff;
                background-color: #000;
                border: 1px solid #fff;
            }
        }
    }      
}

.section {
    &-one {
        background: linear-gradient(180deg,#F6F8F5, #FDFDFD);
        &__product {
            display: flex;
            align-items: center;
            .product {
                &__content {
                    margin: 0 4.7em;
                    text-align: justify;
                    justify-content: center;
                }
                &__price {
                    span {
                        &:first-child {
                            font-size: 2rem;
                            font-weight: 600;
                            color: var(--main-color);
                            margin-right: 20px;
                        }
                        &:last-child {
                            color: #868686;
                            font-size: 1.6rem;
                            font-weight: 100;
                        }
                    }
                }
                &__descript {
                    margin-bottom: 50px;
                    @extend %descript;
                    
                }
                &__btn {
                    a {
                        &:first-child, 
                        &:last-child {
                            border: none;
                            padding: 13px 35px;
                            font-weight: 700;
                            cursor: pointer;
                            transition: all 0.35s ease;
                        }
                        &:first-child {
                            color: #fff;
                            background-color: #333;
                            font-weight: 700;
                            cursor: pointer;
                            transition: all 0.35s ease;
                            margin-right: 20px;
                            &:hover {
                                @extend %active;
                            }
                        }
                        &:last-child {
                            @extend %active;
                            &:hover {
                                background-color: #fa6400b5;
                            }
                        }
                    }
                }
            }
        }
    }
    &-two,
    &-three,
    &-five,
    &-six {
        background: #fff;
        &__product {
            display: flex;
            align-items: center;
            .product {
                &-content {
                    text-align: justify;
                }
                &__descript {
                    p {
                        span {
                            color: var(--main-color);
                        }
                    }
                    @extend %descript;
                }
            }
        }
    }
    &-two {
        &__product {
            .product {
                &-content {
                    margin-right: 7rem;
                }
            }
        }
    }
    &-three,
    &-five {
        &__product {
            .product {
                &-content {
                    margin: 0 4.7em;
                }
                &__descript {
                    div {
                        display: flex;
                        margin-bottom: 15px;
                        img {
                            width: 2%;
                            height: 16px;
                            margin: 4px 8px 0 0;
                        }
                    }
                }
            }
        }
    }
    &-four {
        background: url("../img/sec4.jpg") no-repeat;
        background-size: auto;
        background-position: center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &::before {
            content: "";
            background-color: rgb(29, 29, 29, 0.32);
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
        .videoButton {
            z-index: 2;
        }
    }
    &-five {
        &__product {
            padding-top: 40px !important;
        }
    }
    &-six {
        &__product {
            padding: 0 !important;
        }
        .carousel-sec6 {
            width: 50vw;
            height: 100vh;
            position: relative;
            .slick {
                &-prev,
                &-next {
                    position: absolute;
                    bottom: 7rem;
                    z-index: 1;
                    cursor: pointer;
                    font-size: 0;
                    background: url("../icon/right_arrow.svg") no-repeat;
                    background-position: center;
                    background-size: 15px;
                    width: 40px;
                    height: 40px;
                    border: none;
                    background-color: #f3f3f3;
                    -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                    &:hover {
                        -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.26);
                        -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.26);
                        box-shadow: 0 2px 5px rgba(0,0,0,0.26);
                    }
                }
                &-prev {
                    right: -6.4rem;
                    transform: scaleX(-1);
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0px;
                        right: 40px;
                        border-top: 40px solid #f3f3f3;
                        border-left: 16px solid transparent;
                    }
                }
                &-next {
                    right: -10.2rem;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0px;
                        right: 40px;
                        border-bottom: 40px solid #f3f3f3;
                        border-left: 16px solid transparent;
                    }
                }
            }
            &__item {
                &:focus {
                    outline: none;
                    border: none;
                }
                img {
                    width: 100%;
                    height: 100vh;
                    outline: none;
                    cursor: -webkit-grab;
                    cursor: grab;
                    object-fit: cover;
                    &:active {
                        cursor: -webkit-grabbing;
                        cursor: grabbing;
                    }
                }
                &:nth-child(2) {
                    display: block;
                }
            }
        }
    }
    &-six {
        &__product {
            .product {
                &-content {
                    margin: auto 11rem auto 3rem;
                }
            }
        }
    }
    &-seven {
        width: 100vw;
        height: 100vh;
        //display: flex;
        //align-items: center;
        .product {
            &-review {
                padding-top: 10%;
                text-align: center;
                .carousel-sec7 {
                    margin-top: 50px;
                    &__item {
                        &:focus {
                            outline: none;
                            border: none;
                        }
                        img {
                            width: 20%;
                            height: 12vh;
                            outline: none;
                            cursor: -webkit-grab;
                            cursor: grab;
                            object-fit: cover;
                            display: flex;
                            border-radius: 50%;
                            &:active {
                                cursor: -webkit-grabbing;
                                cursor: grabbing;
                            }
                        }
                        &:nth-child(2) {
                            display: block;
                        }
                        div {
                            padding: 0 30px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            font-weight: 300;
                            &:nth-child(1) {
                                margin-bottom: 20px;
                            }
                            &:nth-child(2) {
                                .h5ag {
                                    font-weight: 600;
                                    position: relative;
                                    margin-top: 25px;
                                    padding-top: 25px;
                                    &::before {
                                        content: "";
                                        display: block;
                                        width: 50px;
                                        height: 2px;
                                        background-color: #CCC;
                                        position: absolute;
                                        top: 0px;
                                        left: 45px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.price {
    &__buy {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            display: flex;
            flex-direction: column;
            align-items: initial;
            input {
                border: 1px solid #d2d2d2;
                padding: 5px 15px;
                transition: ease-in-out 0.15s;
                &:focus {
                    border: 1px solid;
                }
            }
        }
    }
    &__size,
    &__address,
    &__note {
        display: flex;
        flex-direction: column;
        width: 100%;
        input,
        textarea {
            border: 1px solid #d2d2d2;
            padding: 5px 15px;
            background-color: transparent;
            cursor: pointer;
            text-align: inherit;
            transition: ease-in-out 0.15s;
            &:focus {
                border: 1px solid;
            }
        }
        textarea {
            cursor: auto;
        }
    }
    &__note {
        margin-right: -10px;
        margin-left: -10px;
    }
    &__submit {
        cursor: pointer;
        margin-top: 10px;
        input {
            border: none;
            padding: 13px 35px;
            font-weight: 700;
            cursor: pointer;
            transition: all 0.35s ease;
            @extend %active;
            &:hover {
                background-color: #fa6400b5;
            }
        }
    }
    &__size,
    &__address {
        position: relative;
        input {
            width: 100%;
            background-color: #fff;
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                display: none;
                z-index: 1;
                position: absolute;
                border-left: 1px solid;
                border-right: 1px solid;
                &:hover {
                    @extend %active;
                    border: 1px solid var(--main-color);
                }
            }
            &:nth-child(2) {
                top: 28px;
                border-top: 1px solid;
                border-bottom: none;
                
            }
            &:nth-child(3) {
                top: 57px;
                border-top: none;
                border-bottom: none;
            }
            &:nth-child(4) {
                top: 85px;
                border-top: none;
                border-bottom: 1px solid;
            }
        }
    }
}

.img {
    &-sec1,
    &-sec2,
    &-sec3,
    &-sec5,
    &-sec6,
    &-sec8 {
        padding: 0 !important;
        height: 100vh;
        img {
            //height: 86.5%;
            //margin-top: 84px;
            height: 100%;
            object-fit: cover;
        }
    }
}

.img {
    &-sec3,
    &-sec5 {
        img {
            float: right;
        }
    }
}

//Extend
%active {
    color: #fff;
    background-color: var(--main-color);
}

%non-active {
    color: var(--main-color);
    background-color: #fff;
}

%descript {
    position: relative;
    margin-top: 25px;
    padding-top: 25px;
    &::before {
        content: "";
        display: block;
        width: 50px;
        height: 2px;
        background-color: #CCC;
        position: absolute;
        top: 0px;
        left: 0px;
    }
}