//Mobile
@media screen and (max-width: 739px) {
    .navbar {
        &-logo {
            width: 40% !important;
            margin-right: 0 !important;
        }
        &-collapse {
            position: absolute;
            flex-direction: column;
            height: 100vh;
            top: 0;
            background-color: #fff;
            left: -15px;
        }
        &-nav {
            width: 70vw !important;
            justify-content: space-between !important;
            height: 60vh !important;
            flex-direction: column;
            align-items: flex-start !important;
            font-weight: 800;
            letter-spacing: 1.5px;
            margin-top: 30px;
            margin-left: 50px;
            .nav {
                &-item {
                    border-bottom: 1px solid #d4d4d4;
                    width: 80%;
                    padding-bottom: 19px;
                }
            }
        }
    }

    .modal {
        display: none !important;
    }

    .section {
        &-one {
            &__product {
                .product {
                    &__content {
                        margin: 0 1.5em !important;
                        height: 100vh !important;
                    }
                }
            }
        }
        &-two,
        &-three,
        &-five {
            &__product {
                .product {
                    &-content {
                        height: 100vh;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin: 0 15px !important;
                    }
                }
            }
        }
    }
}

//Tablet 
@media screen and (min-width: 740px) and (max-width: 1023px) {
    
}

//Ipad pro + laptop 
@media screen and (min-width: 1024px) and (max-width: 1024px) {
    * {
        font-size: 17px;
    }

    .navbar {
        &-logo {
            margin-right: 8rem !important;
        }
    }

    .modal {
        &-content {
            width: 85% !important;
            height: 34.5% !important;
            margin: 350px auto !important;
            padding: 67px 490px 0 75px !important;
        }
    }

    .section {
        &-seven {
            .product {
                &-review {
                    padding-top: 35% !important;
                    .carousel {
                        &-sec7 {
                            &__item {
                                img {
                                    width: 58% !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// 2K
@media screen and (min-width: 2047px) {
    * {
        font-size: 22px;
    }

    .navbar {
        &-logo {
            //margin-right: 50rem !important;
        }
    }

    .modal {
        &-content {
            padding: 108px 625px 0 92px !important;
            height: 57% !important;
            margin: 174px auto !important;
            .close {
                font-size: 50px !important;
                right: -50px !important;
                top: 0px !important;
                width: 50px !important;
                height: 50px !important;
            }
        }
    }

    .section {
        &-six {
            .carousel {
                &-sec6 {
                    .slick {
                        &-next {
                            right: -9.2rem !important;
                        }
                    }
                }
            }
        }
        &-seven {
            .product {
                &-review {
                    .carousel {
                        &-sec7 {
                            &__item {
                                img {
                                    //width: 16% !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}